---
import Container from '@components/Container.astro';
import LeaderboardTable from '@components/LeaderboardTable.astro';
import StatsIndex from '../components/StatsIndex.astro';
import Layout from '@layouts/Layout.astro';
import ArticlesIndex from '@components/ArticlesIndex.astro';


---

<Layout title="" description='Esta página web te permite ver la clasificación, calendarios, equipos, artículos recopilados de la Liga Santander'>
  <main>
    <Container>
      <div class="flex gap-12 flex-wrap py-6">
        <LeaderboardTable />
        <StatsIndex />
        <ArticlesIndex />
      </div>
    </Container>
  </main>
</Layout>
<style>

</style>

