---
import Container from '@components/Container.astro';
import LeaderboardTable from '@components/LeaderboardTable.astro';
import StatsIndex from '../components/StatsIndex.svelte';
import Layout from '@layouts/Layout.astro';


---

<Layout title="GoalWatcher">
  <main>
    <Container>
      <div class="flex gap-10 flex-wrap py-6">
        <LeaderboardTable />
        <StatsIndex client:load/>
      </div>
    </Container>
  </main>
</Layout>
<style>

</style>

