<script src="https://kit.fontawesome.com/64fa493638.js" crossorigin="anonymous"
></script>

<footer class="mt-10 footer-center p-6 bg-base-200 rounded-t w-full z-50">
  <div class="">
    <p class="pb-4">
      <span class="text-gw-red font-medium">David Asensi</span
      >.
      <span class="italic">Página web creada con fines didácticos</span>
    </p>
    <a class="hover:text-red-500 p-3" href="https://www.linkedin.com/in/davidasensi/">
      <i class="fa-brands fa-linkedin-in fa-xl transition font-medium duration-300 hover:text-gw-red cursor-pointer"></i>
    </a>
    <a class="hover:text-red-500 p-3" href="https://github.com/davidgasensi">
      <i class="fa-brands fa-github fa-xl transition font-medium duration-300 hover:text-gw-red cursor-pointer"></i>
    </a>
    <a class="hover:text-red-500 p-3" href="mailto:davidgasensi@gmail.com">
      <i class="fa-solid fa-envelope fa-xl transition font-medium duration-300 hover:text-gw-red cursor-pointer"></i>
    </a>
  </div>
</footer>

<style>

</style>

