---
export interface Props {
  title: string;
}
import Footer from '@components/Footer.astro';
import Header from '../components/Header.astro';
const { title = 'GoalWatcher', description = 'GoalWatcher índice' } =
  Astro.props;

const seoTitle = title ? `${title} | GoalWatcher` : `GoalWatcher`;
---

<!DOCTYPE html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{seoTitle}</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-screen">
    <Header />
    <div class="flex-grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  .responsive {
    width: 100%;
  }
</style>

